.TextInput {
    input {
        width: 100%;
        text-align: center;
        font-size: larger;
        padding: 5px 0;
        border-color: white;
        background-color: lightgray;
        box-shadow: none;
        outline: none;
        font-family: 'Archivo Black', sans-serif;
        color: #444;
    }
}