.PartySheet {
    margin: 0 1rem;
    .Header, .Footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: larger;
        font-variant: small-caps;
        text-transform: capitalize;
        font-weight: bolder;
        
        .Cell {
            width: 12.5vw;
            max-width: 12.5vw;
            text-align: center;
            text-overflow: ellipsis;
            overflow-x: hidden;
            height: 50px;
            display: flex;
            align-items: center;

            &:first-child {
                width: 25vw;
                min-width: 200px;
                max-width: 25vw;
            }
        }

        button {
            font-size: larger;
            font-variant: small-caps;
            text-overflow: ellipsis;
            overflow-x: hidden;

            &:not(:first-of-type) {
                background-color: #CC9999;
            }
        }
    }
}